/* Header1.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-toggle {
  cursor: pointer;
  padding: 10px;
  background: #333;
  color: #fff;
  text-align: center;
}

.nav-menu {
  display: none;
  width: 50px; /* Set an initial smaller width for the closed menu */
  transition: width 0.3s ease; /* Add a transition for width */
}

.nav-menu.open {
  display: flex;
  flex-direction: column;
  width: 150px; /* Set a wider width for the open menu */
  position: absolute;
  top: 50px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nav-menu a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Media query for responsive menu toggle button */
@media (max-width: 768px) {
  .nav-menu {
    position: relative;
  }

  .menu-toggle {
    display: block; 
  }
}
